@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    height: 100%;
    width: 100%;
    overflow: hidden;
}
@font-face {
    font-family: "Ubuntu-B";
    src: url("fontes/Ubuntu-B.ttf");
}
@font-face {
    font-family: "Ubuntu-M";
    src: url("fontes/Ubuntu-M.ttf");
}
.menu_inicial{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    flex-grow: 1; /* Sempre se refere ao pai (nesse caso é vertical, já que #tela é na direção de coluna) */
}
.botao_menu_inicial{
    font-family: "Ubuntu-B", sans-serif;
    font-size: 24pt;
    background-color: rgba(255, 255, 255, 0.6);
    border: none;
    border-radius: 10px;
    padding: 8px;
    width: 330px;
    line-height: 1.8em;
    cursor: pointer;
    
}
.botao_menu_inicial:hover{
    transition: outline 0.2s;
    background-color: transparent;
    color: rgba(255, 255, 255, 0.8);
    outline: 4px solid rgba(255, 255, 255, 0.8);

}
.botao_menu_inicial:active{
    color: rgba(255, 255, 255, 0.9);
    outline: 4px solid rgba(255, 255, 255, 0.9);
    background-color:  rgba(0, 0, 0, 0.2);
}
#botao_linha_do_tempo{
    font-family: "Ubuntu-B", sans-serif;
    font-size: 24pt;
    border-width: 0px;
    border-radius: 10px;
    padding: 8px;
    width: 330px;
    line-height: 1.8em;
    background-color: rgba(255, 255, 255, 0.6);
    opacity: 0.35;
    cursor: not-allowed;
}
#tela{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: auto;
    width: 600px;
    min-width: 440px;
    background-image: url(imagens/fundo.png);
    background-repeat: no-repeat;
    background-size:  1323px 992px;
    background-position: center center;
    background-attachment: fixed;
}
#bloco-texto{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 660px;
    width: 440px;
    margin-top: 50px;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 10px;
    padding: 20px;
}
.texto{
    text-align: justify;
    font-family: "Ubuntu-M", sans-serif;
    font-size: 18pt;
    width: 355px;
    line-height: 1.1em;
}
.menu_navegacao{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-grow: 1; /* Sempre se refere ao pai (nesse caso é vertical, já que #tela é na direção de coluna) */
    justify-content: space-around;
    width: 550px; /* Sempre sera esse valor (define espaçamento entre botoes) */
}
.botao_menu_navegacao{
    font-family: "Ubuntu-B", sans-serif;
    font-size: 20pt;
    background-color: rgba(255, 255, 255, 0.6);
    border: none;
    border-radius: 10px;
    padding: 8px;
    width: 250px;
    line-height: 1.8em;
    cursor: pointer;
}
.botao_menu_navegacao:hover{
    transition: outline 0.2s;
    background-color: transparent;
    color: rgba(255, 255, 255, 0.8);
    outline: 4px solid rgba(255, 255, 255, 0.8);

}
.botao_menu_navegacao:active{
    color: rgba(255, 255, 255, 0.9);
    outline: 4px solid rgba(255, 255, 255, 0.9);
    background-color: rgba(0, 0, 0, 0.2);
}
#bloco-modelo{
    background-color: rgba(255, 255, 255, 0.3);
    width: 440px;
    height: 400px;
}
model-viewer{
    width: 420px;
    height: 400px;
}
.titulo{
    text-align: center;
    font-size: 30pt;
    font-family: "Ubuntu-B";
}
#logo{
    padding: 12px;
}
#link{
    font-size: 22pt;
    font-family: "Ubuntu-M", sans-serif;
    color: navy;
    text-decoration: none;
    position: relative;
}
#link::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    border-radius: 4px;
    background-color: navy;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}
#link:hover::before{
    transform-origin: left;
    transform: scaleX(1);
}
.texto-menor{
    font-family: "Ubuntu-M", sans-serif;
    font-size: 13pt;
    width: 355px;
    line-height: 1em;
}


#bloco-ra{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: white;
    outline: 4px solid #220769;
    position: relative;
}
#model-viewer-ra{
    width: 100%;
    height: 100%;
    flex: 1;
    z-index: 1;
}
.titulo-ra{
    text-align: center;
    color: #220769;
    font-size: 28pt;
    font-family: "Ubuntu-B";
    position: absolute;
    top: 40px;
    z-index: 2; /* texto na frente */
}
.menu_animacao{
    display: flex;
    margin-top: -210px;
    justify-content: space-evenly;
    height: 210px;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 2;
}
.botao_animacao{
    font-family: "Ubuntu-B", sans-serif;
    font-size: 16pt;
    background-color: #220769;
    border: none;
    color: white;
    border-radius: 10px;
    padding: 8px;
    width: 150px;
    line-height: 1.8em;
    cursor: pointer;
}

.botao_animacao:hover{
    transition: outline 0.2s;
    opacity: 0.9;
}
.botao_animacao:active{
    color: rgba(255, 255, 255, 0.9);
    outline: 4px solid rgba(255, 255, 255, 0.9);
    opacity: 1;
}